/*******************************************************************************
 *                                                                             *
 * Letras                                                      *
 *                                                                             *
 ******************************************************************************/
.letra{
	-fx-text-fill:#dce2e4;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15px;
	
}


/*******************************************************************************
 *                                                                             *
 * Button  Sing Out                                                            *
 *                                                                             *
 ******************************************************************************/
.button {
    -fx-padding: 5 10 5 22;   
    -fx-border-style: none; 
    -fx-background-radius: 0;
     -fx-border-width:1;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color:white ;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
    -fx-text-fill: gray  ; 
    -fx-alignment: baseline-left  ;
    -fx-border-color: gray  gray  gray gray;
}
 
.button:hover{
    -fx-text-fill: white  ;
    -fx-border-color: gray  gray  gray gray;
    -fx-background-color:#dce2e4 ;
       -fx-border-width:1;
  
}
 
.button:pressed, .button:default:hover:pressed
{
    -fx-padding: 5 22 5 22;   
    -fx-border-style: none; 
    -fx-background-radius: 0;
    -fx-border-width:2;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
    -fx-text-fill: gray ;
         -fx-border-width:1;
  
}
 
.button:focused
{
    -fx-padding: 5 22 5 22;   
     -fx-border-width:1;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
    -fx-text-fill: gray  ; 
    -fx-border-width:0.5;
}
 
.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: gray ;
    -fx-text-fill: #8AA4AF;
}
 
.button:default
{
  
    -fx-text-fill: #ffffff;
}
 
.button:default:hover{
    -fx-background-color: white ;
     -fx-border-width:1;
}

/*******************************************************************************
 *                                                                             *
 * ComboBox  Lenguaje                                                          *
 *                                                                             *
 ******************************************************************************/
 
.combo-box-base  {
    -fx-background-color: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-color: gray;
}
 
.combo-box-base:hover {
    -fx-background-color: transparent;
     
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}
 
/* ------- OPEN BUTTON ------- */
.combo-box-base .arrow-button {
    -fx-background-color: transparent, transparent, white;
}


/* ------- ARROW* ------- */
.combo-box-base .arrow {
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 4 4 4 4 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}
 
.combo-box-popup .list-view {
    -fx-background-color: #909090, -fx-control-inner-background;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 8, 0.0 , 0 , 0 );
}
 
.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: #dedede;
    -fx-text-fill: #1d1d1d;
}
 
.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: #55c4fe;
}
 
.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #6dcdff;
}
 
.combo-box-popup .list-view .list-cell:filled:pressed, .combo-box-popup .list-view .list-cell:filled:selected:pressed
{
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #1d1d1d;
}
 

