
.button {
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color : transparent  ;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: white  ;
}
 
.button:hover{
    -fx-background-color: #DDDDDD;
}
 
.button:pressed, .button:default:hover:pressed
{
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color : transparent;
    -fx-background-color: #DDDDDD ;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
 
.button:focused
{
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color : transparent;
    -fx-background-color: #DDDDDD ;
    -fx-background-insets: 0;
    -fx-border-insets: 0; 
}
